.App{
  color: white;
  text-align: center;
}

.font{
  font-size: calc(1.5vw + 1.8vh + 1vmin);
}

.pfont{
  font-size: calc(0.52vw + 0.9vh + 0.5vmin);
}

.middlew{
  position:fixed;
  margin:auto;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  width:33.5%;
  height:15%;
  text-align:center;
  color:lightgrey;
  font-size: calc(1.2vw + 1.6vh + 0.8vmin);
}

#bottom-widgets{
  position:fixed;
  bottom: 0px;  
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 58%;
}

.resp-iframe {
    width: 100%;
    height: calc(9vw + 13vh + 6vmin);
}

.modal-iframe {
    width: 700px;
    height: 400px;
}